* {
	box-sizing: border-box;
}

body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

header,
main,
aside,
#box1,
#box2,
#box3 {
	border: 1px solid black;
	height: 200px;
}

[id*="section"] {
	border: 1px solid black;
	height: 100%;
}

#grid-container {
	width: 89%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
	column-gap: 2%;
	row-gap: 20px;
	grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
		"content content content content content content content content content sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
}

header {
	grid-area: header;
}

#box1 {
	grid-area: box1;
}

#box2 {
	grid-area: box2;
}

#box3 {
	grid-area: box3;
}

main {
	grid-area: content;
}

aside {
	grid-area: sidebar;
}

footer {
	grid-area: footer;
}

#grid-container-footer {
	border: 1px solid black;
	height: 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	column-gap: 2%;
	padding: 1%;
	grid-template-areas:
	"section1 section2 section3 section4";
}

#section1-footer {
	grid-area: section1;
}

#section2-footer {
	grid-area: section2;
}

#section3-footer {
	grid-area: section3;
}

#section4-footer {
	grid-area: section4;
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
	#grid-container {
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
		"content content content content content content content content sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	#grid-container {
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
		"content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}

	#grid-container-footer {
		height: 400px;
		row-gap: 20px;
		grid-template-areas:
		"section1 section1 section2 section2"
		"section3 section3 section4 section4";
	}
}

@media screen and (max-width: 767px) {
	#grid-container {
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
		"box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
		"box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
		"content content content content content content content content content content content content"
		"sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
	
	#grid-container-footer {
		height: 800px;
		row-gap: 20px;
		grid-template-areas:
		"section1 section1 section1 section1"
		"section2 section2 section2 section2"
		"section3 section3 section3 section3"
		"section4 section4 section4 section4";
	}	
}