* {
	box-sizing: border-box;
}

body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

header,
main,
aside,
footer,
.box1,
.box2,
.box3 {
	border: 1px solid black;
	height: 200px;
}

[class*="section"] {
	border: 1px solid black;
	height: 100%;
}

#container {
	width: 89%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
	column-gap: 2%;
	row-gap: 20px;
	grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
		"content content content content content content content content content sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
}

header {
	grid-area: header;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
}

.box3 {
	grid-area: box3;
}

main {
	grid-area: content;
}

aside {
	grid-area: sidebar;
}

footer {
	grid-area: footer;
}

#container2 {
	height: 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	column-gap: 2%;
	padding: 1%;
	grid-template-areas:
	"section1 section2 section3 section4";
}

.section1 {
	grid-area: section1;
}

.section2 {
	grid-area: section2;
}

.section3 {
	grid-area: section3;
}

.section4 {
	grid-area: section4;
}

/* skärmar större än 1200px */
/* @media screen and (min-width: 1201px) {

} */

/*skärmar mellan 1200px och 960px */
@media screen and (max-width: 1200px) and (min-width: 960px) {
	#container {
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
		"content content content content content content content content sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}

/* - Tablets såsom Ipad: mellan 960px och 768px */
/* @media screen and (max-width: 960px) and (min-width: 768px) {
	#container {
		grid-template-areas:
		"box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
		"content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}

	#container2 {
		grid-template-areas:
		"section1 section1 section1 section1 section1 section1 section2 section2 section2 section2 section2 section2"
		"section3 section3 section3 section3 section3 section3 section4 section4 section4 section4 section4 section4";
	}
} */

/* - Mobiltelefoner: mindre än 768px */
/* @media screen and (max-width: 768px) {
	#container {
		grid-template-areas:
		"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
		"box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
		"box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
		"content content content content content content content content content content content content"
		"sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
	
	#container2 {
		grid-template-areas:
		"section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1"
		"section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2"
		"section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3"
		"section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4";
	}	
} */